.ModalDate {
    font-size: .8rem;
    opacity: 50%;
    margin: 0;
}

.ModalTitle {
    margin: 0;
    font-size: 1.5rem;
}

.ModalMedia {
    overflow: auto;
}

.LogoModal {
    width: 100%;
}

.SwiftLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
}

.Technology {
    display: flex;
    width: 100%;
    margin-left: 2%;
    justify-content: space-evenly;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
  background-image: url("./diamond-upholstery.png");
  margin: auto;
  padding: 5%;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

hr {
    width: 90%;
}

#Footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    color: white;
    font-size: 12px;
    margin-top: 10%;
}

.Description {
    opacity: 50%;
}

button {
    width: 40%;
    height: 10%;
    border-radius: 50px;
    background-color: #6f0bd4;
    color: white;
    margin-top: auto;
    margin-bottom: 5%;
}

.CardContent {
    width: 80%;
    margin-top: 3%;
}

.LogoImg {
    width: 20%;
}

.ProjectLogos {
    display: flex;
    gap: 1%;
    width: 80%;
}

#Cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.Card p {
    color: black;
    margin: 0;
}

.MainImg {
    width: 80%;
    margin-top: 10px;
}

.Card {
    background-color: white;
    width: 219px;
    height: 351px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

#ProjectTitle {
    width: 100%;
    color: white;
    font-size: min(1.5rem, 3vw);
}

#Projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.Date {
    opacity: 63%;
    font-style: italic;
}

.Location {
    opacity: 63%;
}

#Places p{
    width: fit-content;
    height: fit-content;
    margin: 4%;
    font-size: min(1rem, 2vw);
}

#Places {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#Timeline {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#WorkExperience img{
    width: 100%;
}

.WorkTitle {
    font-size: min(1.5rem, 3vw);
}

#WorkExperience p {
    color: white;
}

#WorkExperience {
    width: 100vw;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

#Logos img {
    width: min(50px, 4vw);
    height: min(50px, 4vw);
}

#Logos a {
    width: fit-content;
    height: fit-content;
}

#Logos {
    display: flex;
    opacity: 100;
    width: min(50px, 3vw);
    height: min(50px, 3vw);
    gap: 50%;
}


#Location img {
    width: min(25px, 3vw);
    height: min(25px, 3vw);
}

#Location {
    display: flex;
    justify-content: center;
    align-content: center;
    column-gap: 2%;
    width: fit-content;
    height: fit-content;
}

#MoreInfo p {
    margin: 0;
    font-size: min(25px, 3vw);
    white-space: nowrap;
}

#MoreInfo {
    width: fit-content;
    height: fit-content;
    color: white;
    opacity: 63%;
}

#Content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#TextContent .colorful {
    background-image: url("./rainbow_gradient.jpeg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#TextContent p {
    white-space: nowrap;
    font-size: min(25px, 3vw);
    color: white;
    width: fit-content;
    height: fit-content;
    margin: 0;
}

#TextContent {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width:fit-content;
    height: fit-content;
}

#Profile .MainImage {
    width: min(400px, 50%);
}

#Profile {
    display: flex;
    align-content: space-evenly;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 7vw;
}

#MainContent {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1E2F37;
    background-image: url("./Background/axiom-pattern.png");
    width: 100%;
    font-family: jetBrains;
}

@font-face {
    font-family: jetBrains;
    src: url("./JetBrainsMono-VariableFont_wght.ttf");
}

